<div class="admin" *ngIf="authorized||roleConnected==='ADMIN'">
  <div>
    <div>
      <h1>Request details</h1>
    </div>

    <div *ngIf="!loading">
      <p>
        <span>capacity: </span>
        <span>{{request.roomDTO.capacity}}</span>
      </p>
      <p>
        <span>date: </span>
        <span>{{request.startTime|date}}</span>
      </p>
      <p>
        <span>time: </span>
        <span>{{request.startTime|date:'shortTime'}}</span>
      </p>
      <p>
        <span>duration (minutes):</span>
        <span>{{request.minutes}}</span>
      </p>
      <p *ngIf="request.adminId != null">
        <span>Accepted </span>
      </p>
      <p *ngIf="request.refusalReason != null">
        <span>Refused:  </span>
        <span>{{request.refusalReason}}</span>
      </p>
      <p *ngIf="request.adminId == null && request.refusalReason == null">
        <span>Pending </span>
      </p>

    </div>
  </div>
</div>
<div class="unAuthorized" *ngIf="!authorized && roleConnected!='ADMIN' && !loading">
  You are not authorized!
</div>
<div *ngIf="loading">
  ... LOADING
</div>
