<div *ngIf="roleConnected!=undefined">

  <h1>Liste matériel</h1>
  <div *ngIf="roleConnected==='ADMIN'">
    <h2>Ajout d'un matériel:</h2>
    <div>
      <input type="text" placeholder="Add material" [(ngModel)]="materialName"><button (click)="addMaterial(materialName)">ajouter</button>
    </div>
  </div>

  <h2>Materiel disponible:</h2>

  <table *ngIf="!loading && materials">

    <thead>
    <tr>
      <td *ngIf="roleConnected==='ADMIN'">id</td>
      <td>Nom: </td>
      <td *ngIf="roleConnected==='ADMIN'">actions</td>
    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let material of materials">
      <td *ngIf="roleConnected==='ADMIN'">{{ material.id}}</td>
      <td>{{ material.name}}</td>
      <td *ngIf="roleConnected==='ADMIN'"><button (click)="removeMaterial(material.id)">supprimer</button></td>
    </tr>

    </tbody>

  </table>

  <div *ngIf="loading">... LOADING</div>
</div>
<div class="unAuthorized" *ngIf="roleConnected == undefined && !loading">
  You are not authorized!
</div>
