<button color="primary" mat-button>Materials</button>

<div *ngIf="roleConnected!=undefined">

  <div *ngIf="roleConnected==='ADMIN'">
    <h2>Add material:</h2>
    <mat-form-field appearance="fill">
      <mat-label>New material name:</mat-label>
      <input type="text" matInput [(ngModel)]="materialName">
    </mat-form-field>
    <br>
    <button (click)="addMaterial(materialName)" mat-stroked-button color="primary">add</button>
  </div>

  <br>

  <h2>Available materials:</h2>

  <table mat-table *ngIf="!loading && materials" [dataSource]="materials">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let material"> {{material.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let material"> {{material.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell *matCellDef="let material"> <button (click)="removeMaterial(material.id) "  *ngIf="roleConnected==='ADMIN'"><mat-icon>delete</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div *ngIf="loading"><mat-spinner></mat-spinner></div>
</div>
<div class="unAuthorized" *ngIf="roleConnected == undefined && !loading">
  You are not authorized!
</div>
