<button color="primary" mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>home</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item  *ngIf="isConnected" routerLink="/material" routerLinkActive="active">Materials</button>
  <button mat-menu-item *ngIf="isConnected" routerLink="/room" routerLinkActive="active">Rooms</button>
  <button mat-menu-item *ngIf="isConnected" routerLink="/request" routerLinkActive="active">Requests</button>
  <button mat-menu-item *ngIf="getRoleConnected()==='ADMIN'" routerLink="/auth" routerLinkActive="active">Admin</button>
  <button mat-menu-item *ngIf="!isConnected" routerLink="/login" routerLinkActive="active">Login</button>
  <button mat-menu-item *ngIf="isConnected" routerLink="/logout" routerLinkActive="active" class="logout">Logout</button>
</mat-menu>
