<div *ngIf="roleConnected!=undefined">

  <h1>Liste des salles</h1>

  <table *ngIf="!loading && rooms">

    <thead>
    <tr>
      <td>nom</td>
      <td>capacité</td>
      <td>pour personnel</td>
      <td>actions</td>
    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let room of rooms">
      <td>{{ room.name}}</td>
      <td>{{ room.capacity }}</td>
      <td>{{ room.forStaff}}</td>
      <td><button (click)="onDetails(room.id)">Plus d'info</button></td>
    </tr>

    </tbody>

  </table>

  <div *ngIf="loading">... LOADING</div>
</div>
<div class="unAuthorized" *ngIf="roleConnected == undefined && !loading">
  You are not authorized!
</div>
