<div *ngIf="roleConnected==='ADMIN'">
  <h1>Confirm a request</h1>


    <mat-list>
      <mat-list-item>Date: {{request.startTime|date}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Time: {{request.startTime|date:'shortTime'}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Duration: {{request.minutes}} minutes</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Reason: {{request.requestReason}}</mat-list-item>
    </mat-list>

  <form [formGroup]="form2">
    <mat-checkbox color="primary" formControlName="accepted" >Accepted</mat-checkbox>
  </form>
    <br>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" *ngIf="checked">
      <mat-label>Room:</mat-label>
      <mat-select formControlName="room">
        <mat-option *ngFor="let room of rooms"
                    [value]="room.id">{{ room.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="!checked">
      <mat-label>Refusal reason:</mat-label>
      <textarea type="text" matInput formControlName="refusalReason"></textarea>
    </mat-form-field>

    <br>

    <button type="submit" mat-stroked-button color="primary" [disabled]="!form.valid || form.untouched">envoyer</button>

  </form>
</div>
<div class="unAuthorized" *ngIf="roleConnected !='ADMIN'">
  You are not authorized!
</div>
