<div *ngIf="roleConnected!=undefined">
  <div>
    <h1>Room details</h1>
  </div>
  <div>
    <p>
      <span class="field-title">Name: </span>
      <span class="field-value">{{room.name}}</span>
    </p>
    <p>
      <span class="field-title">Capacity: </span>
      <span class="field-value">{{room.capacity}}</span>
    </p>
    <p>
      <span class="field-title">For staff: </span>
      <span class="field-value">{{room.forStaff}}</span>
    </p>
      <p>Equipement:</p>
      <ul  *ngFor="let material of room.contains">
        <li>{{material.name}}</li>
      </ul>
  </div>
</div>
<div class="unAuthorized" *ngIf="roleConnected == undefined && !loading">
  You are not authorized!
</div>
<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
