<div *ngIf="roleConnected!=undefined">
  <h1>Add a request</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="fields">
      <mat-label>Date:</mat-label>
      <input type="datetime-local" matInput formControlName="startTime">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="fields">
      <mat-label>Duration:</mat-label>
      <input type="number" matInput formControlName="minutes">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="fields">
      <mat-label>Reason:</mat-label>
      <input type="text" matInput formControlName="requestReason">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="fields">
      <mat-label>Room's like capacity:</mat-label>
      <mat-select formControlName="room">
        <mat-option *ngFor="let room of rooms"
                [value]="room.id">{{ room.name + ' - ' + room.capacity }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="fields">
      <mat-label>Equipement:</mat-label>
      <mat-select formControlName="materials" multiple>
        <mat-option *ngFor="let material of materials"
                    [value]="material.id">{{ material.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <button type="submit" mat-stroked-button color="primary" [disabled]="!form.valid || form.untouched">Submit</button>

  </form>
</div>
<div class="unAuthorized" *ngIf="roleConnected == undefined">
  You are not authorized!
</div>
